@import '../../variables';

.__experience {
   height: 100vh;
   background: $primary-7;

   // .img {
   //    top: 0;
   //    left: 0;
   //    height: 100%;
   //    width: 100%;
   //    background: $background-3;

   //    img {
   //       object-fit: cover;
   //    }
   // }

   .__container {
      .inner {
         width: 80vw;
         margin: 0 auto;
         max-width: 900px;

         ul.tabs {
            display: flex;
            flex-direction: row;
            justify-content: start;
            margin-bottom: 4rem;
            flex-wrap: wrap;
            position: relative;

            &::before {
               position: absolute;
               content: '';
               left: 0;
               top: 0;
               width: 2px;
               height: 100%;
               background: #777;
            }

            li {
               font: 600 1rem $font;
               opacity: .9;
               position: relative;
               padding: 0.8rem 1rem;
               cursor: pointer;
               transition: color .25s ease, padding .25s ease;
               line-height: 1;
               outline-color: $primary-3;
               
               &:hover, &.active {
                  color: $primary-3;

                  &::before {
                     position: absolute;
                     content: '';
                     left: 0;
                     top: 0;
                     width: 2px;
                     height: 100%;
                     background: #222;
                  }
               }
            }
         }
         @media screen and (max-width: 767px) {
            ul.tabs {
               flex-direction: column;
               justify-content: flex-start;
            }
         }

         .description {
            h4 {
               font: 700 1.2rem $font;
               opacity: .9;
            }
            span {
               font-size: .85rem;
               color: $white;
               border-radius: 4px;
               background: #777;
            }
            p {
               font: 600 1rem $font;
               opacity: .9;
            }
            ul {
               li {
                  font: 600 1rem $font;
                  line-height: 1.5rem;
                  opacity: .9;
                  position: relative;

                  &::before {
                     content: "▹";
                     position: absolute;
                     left: 0;
                     top: 0;
                     font-size: 1.5rem;
                     color: $primary-3;
                  }
               }
            }
         }
      }
      @media screen and (max-width: 767px) {
         .inner {
            width: 95% !important;
         }
      }
      @media screen and (max-width: 991px) {
         .inner {
            width: 80% !important;
         }
      }
   }

   @media screen and (max-width: 992px) {
      height: 100%;
   }
}