@import '../../variables';

.__contact {
   // height: 100vh;
   background: $white;

   .__container {
      .inner {
         ul.content {
            li {
               cursor: pointer;
               
               span {
                  opacity: .9;
               }

               .icon_wrapper {
                  height: 4rem;
                  width: 4rem;
                  color: $black;
                  opacity: .8;
                  border-radius: 50%;
                  overflow: hidden;
                  background: $primary-3;
                  transition: $transition2;

                  .contact-icon {
                     color: $white;
                     transform: scale(1);
                  }
               }
               &:hover .icon_wrapper {
                  background: $primary-3a;
               }
               a {
                  color: $black;
               }
            }
         }

         .__form {
            background: $white;
            box-shadow: $box-shadow;
            border-radius: 5px;

            .input {
               font: 600 .85rem $font;
               color: $primary-1;
               border-bottom: 1px solid $primary-4 !important;
               // border-radius: 5px;
               padding: .7rem 1.2rem;
            }
            .textarea {
               border-radius: 5px;
               border: 1px solid $primary-4 !important;
            }
            .label {
               font: 600 .85rem $font;
            }
            button {
               p {
                  font: 600 .85rem $font;
                  color: $white;
                  border-radius: 10px;
                  padding: 1rem 1.5rem;
                  background: $primary-5;
                  transition: $transition2;

                  &:hover {
                     background: $primary-5a;
                  }
               }
            }
            .download_btn {
               font: 600 .95rem $font;
               color: $white;
               background: $primary-3;
               border-radius: 25px;
               padding: 1rem 1.5rem;
               transition: $transition2;

               &:hover {
                  background: $primary-3a;
               }
            }
         }
      }
   }
}