@import '../../variables';

.heading {
   .desc {
      position: relative;
      opacity: .8;
      // &::before {
      //    content: "";
      //    display: block;
      //    position: relative;
      //    top: 40%;
      //    left: -45%;
      //    width: 2rem;
      //    height: .2rem;
      //    margin-left: 20px;
      //    background-color: $primary-3;
      // }
      // &::after {
      //    content: "";
      //    display: block;
      //    position: relative;
      //    top: 40%;
      //    left: 45%;
      //    width: 2rem;
      //    height: .2rem;
      //    margin-left: 20px;
      //    background-color: $primary-3;
      // }
   }

   .title {
      .dots {
         .dot {
            height: .5rem;
            width: .5rem;
            border-radius: 50%;
            background: $primary-3;
         }
      }

      h2 {
         font: 700 1.7rem $font;
         display: inline-block;
         // text-transform: lowercase;
         text-transform: capitalize;
         opacity: .9;

         // &::first-letter {
         //    text-transform: uppercase;
         // }
      }
   }
}