@import '../../variables';

.__about {
   height: 100vh;
   width: 100%;
   background: $background-6;

   .__container {
      .inner {
         // background: #bbb;

         .about-me {
            p {
               font-size: 1.1rem;
               line-height: 1.4;
            }
            .download_btn {
               a {
                  font-size: .85rem;
                  color: $white;
                  background: $primary-3;
                  border-radius: 25px;
                  padding: .7rem 1.2rem;
                  transition: $transition2;

                  &:hover {
                     background: $primary-3a;
                  }
               }
            }
         }

         .about-img {
            height: 35rem;
            width: 28rem;
            border-top: .6rem solid $background-7;
            border-left: .6rem solid $background-7;

            .img {
               top: .7rem;
               left: .7rem;
               background: $primary-4;
               transition: $transition2;

               // &:hover {
               //    top: -.1rem;
               //    left: -.1rem;
               // }
            }
            // &:hover {
            //    top: .1rem;
            //    left: .1rem;
            // }
         }
      }
   }
}