@import '../../variables';

.__about {
   // height: 100vh;
   width: 100%;
   background: $white;

   .__container {
      .inner {
         .about-me {
            p {
               font: 600 1rem $font;
               line-height: 1.4;
               opacity: .8;
            }
            .download_btn {
               a {
                  font: 600 .95rem $font;
                  color: $white;
                  background: $primary-3;
                  border-radius: 25px;
                  padding: 1rem 1.5rem;
                  transition: $transition2;

                  &:hover {
                     background: $primary-3a;
                  }
               }
            }
            .ul-class {
               li {
                  height: 5rem;
                  width: 5rem;
                  .icon {
                     transform: scale(2);
                  }
                  span {
                     opacity: .9;
                     font: 600 .8rem $font;
                  }
               }
            }
         }

         .img-wrapper {
            height: 35rem;
            width: 28rem;
            border-radius: 5px;

            .img {
               position: relative;
               border-radius: 5px;
               mix-blend-mode: multiply;
               // filter: grayscale(100%) contrast(1);

               img {
                  z-index: 5;
               }

               &::before, &::after {
                  content: "";
                  position: absolute;
                  display: block;
                  width: 100%;
                  height: 100%;
                  border-radius: 5px;
                  transition: $transition2;
               }
               &::before {
                  top: 0px;
                  left: 0px;
                  background-color: $primary-5;
                  mix-blend-mode: screen;
               }
               &::after {
                  border: 5px solid $primary-2;
                  top: -20px;
                  left: -20px;
                  z-index: -1;
               }
               &:hover {
                  background: transparent;
                  outline: 0;

                  &::after {
                     top: 0;
                     left: 0;
                  }
                  .img {
                     filter: none;
                     mix-blend-mode: normal;
                  }
               }
            }
         }
      }
   }
}