/*=========== Fonts ==============*/
@font-face {
   font-family: 'OpenSans';
   font-style: normal;
   font-weight: 300;
   src: url('./_assets//fonts/OpenSans-Light.ttf');
}
@font-face {
   font-family: 'OpenSans';
   font-style: normal;
   font-weight: 400;
   src: url('./_assets//fonts/OpenSans-Regular.ttf');
}
@font-face {
   font-family: 'OpenSans';
   font-style: normal;
   font-weight: 500;
   src: url('./_assets//fonts/OpenSans-Medium.ttf');
}
@font-face {
   font-family: 'OpenSans';
   font-style: normal;
   font-weight: 600;
   src: url('./_assets//fonts/OpenSans-SemiBold.ttf');
}
@font-face {
   font-family: 'OpenSans';
   font-style: normal;
   font-weight: 700;
   src: url('./_assets//fonts/OpenSans-Bold.ttf');
}
@font-face {
   font-family: 'OpenSans';
   font-style: normal;
   font-weight: 800;
   src: url('./_assets//fonts/OpenSans-ExtraBold.ttf');
}

@keyframes fadeIn {
   from {
      opacity: 0;
      margin-top: 20px;
   }
   
   to {
      opacity: 1;
      margin-top: 0;
   }
}

@keyframes Spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: Spin infinite 20s linear;
   }
}

$fade1: fadeIn .15s ease-in;
$max-width: 1200px;

$font: "OpenSans";
$transition1: all 0.25s ease-in;
$transition2: all 0.3s ease-in;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
$box-shadow-hover: 0 0 10px rgba(0, 0, 0, 0.1);
$box-shadow2: 0 4px 12px 0 rgba(0, 0, 0, .7), 0 2px 4px rgba(0, 0, 0, .5);
$box-shadow3: inset 0 0 0 1px #fff;
$backdrop-filter: blur(13px);

$white: #ffffff;
$black: #000000;

$primary-1: #001618;
$primary-2: #004448;
$primary-3: rgba(188, 87, 87, 0.5);
$primary-3a: rgba(188, 87, 87, 0.3);
$primary-4: #bbbbbb;

// $background-2: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8) 20%);
$background-1: rgba(0, 0, 0, .75);
$background-2: rgba(0, 0, 0, 0);
$background-3: rgba(0, 0, 0, 0.5);
$background-4: rgba(255, 255, 255, 0.3);
$background-5: rgba(0, 0, 0, .95);
$background-6: rgba(0, 0, 0, .05);
$background-7: #222222;
