/*========== like shadow background use for each section at the top =============*/ 
.shadow {
   background: radial-gradient(ellipse at bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 70%);
   width: 50% !important;
   height: 15px;
}
/*========== like shadow background use for each section at the top =============*/ 
