/*========== line before socials at the left panel =============*/ 
::before, ::after {
   width: 1px;
   height: 100%;
   margin: 0 auto;
   content: '';
   background-color: rgba(255,255,255,.4);
}

::before {
   margin-bottom: 3.125rem;
}

::after {
   margin-top: 3.125rem;
}
/*========== line before socials at the left panel =============*/ 

/*========== like shadow background use for each section at the top =============*/ 
.shadow {
   background: radial-gradient(ellipse at bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 70%);
   width: 50% !important;
   height: 15px;
}
/*========== like shadow background use for each section at the top =============*/ 

/*========== bounce anim =============*/ 
.animation {
   animation: bounce 3s infinite ease-in-out;
}
/*========== bounce anim =============*/ 

/*========== line for title "-title-" =============*/ 
section .title::before{
   content: "";
   position: absolute;
   bottom: 0px;
   left: 50%;
   width: 180px;
   height: 3px;
   background: #111;
   transform: translateX(-50%);
}
section .title::after{
   position: absolute;
   bottom: -8px;
   left: 50%;
   font-size: 20px;
   color: crimson;
   padding: 0 5px;
   background: #fff;
   transform: translateX(-50%);
}
/*========== line for title "-title-" =============*/ 