@import '../../variables';

.__nav {
   position: fixed;
   height: 5rem;
   top: 0;
   left: 0;
   box-shadow: none !important;
   transition: $transition2;
   z-index: 500;
   
   &:hover {
      height: 6rem;
      backdrop-filter: blur(13px);
      background: transparent;
      // background: #bbb;
      // box-shadow: $box-shadow22;
   }

   &:hover .__collapse .__navbar .__nav-links {
      color: $white !important;
   }
   &:hover .__container .__nav-brand {
      color: $white !important;
      border-color: $white;
   }

   .__container {
      .__nav-brand {
         color: $black;
         border: 2px solid $primary-3;
         border-radius: 10px;
         height: 2.5rem;
         width: 2.5rem;
         transition: $transition2;

         span {
            font: 700 1.4rem $font;
            line-height: 1;
            transition: $transition2;
         }
      }
      .__nav-toggle-icon {
         background-image: none !important;
      }
      .page_name {
         color: $primary-1;
         font-size: 1.1rem;
         font-family: $font;
      }
      .__collapse {
         .__navbar {
            .__nav-links {
               font: 600 1rem $font;
               color: $black;
               margin: 0 .5rem;
               transition: $transition2;

               &:hover {
                  color: $primary-5a !important;
               }
               &.active {
                  color: $primary-5;
                  border-bottom: 1px solid $primary-5;
               }
            }
            .download_btn {
               a {
                  font: 600 .95rem $font;
                  color: $white;
                  background: $primary-5;
                  border-radius: 25px;
                  padding: 1rem 1.5rem;
                  transition: $transition2;

                  &:hover {
                     background: $primary-5a;
                  }
               }
            }
         }
      }
   }
}