@import '../../variables';

.__nav {
   position: fixed;
   height: 5rem;
   top: 0;
   left: 0;
   box-shadow: none !important;
   transition: $transition2;
   z-index: 500;
   
   &:hover {
      height: 6rem;
      backdrop-filter: blur(13px);
      background: transparent;
   }

   &:hover .__collapse .__navbar .__nav-links {
      color: $primary-8;
   }
   &:hover .__container .__nav-brand {
      color: $primary-8;
      border-color: $primary-8;
   }

   .__container {
      .__nav-brand {
         color: $primary-8;
         border: 2px solid $primary-3;
         border-radius: 10px;
         height: 2.5rem;
         width: 2.5rem;
         transition: $transition2;

         span {
            font: 700 1.4rem $font;
            line-height: 1;
            transition: $transition2;
         }
      }
      @media screen and (max-width: 575px) {
         .__nav-brand {
            margin-left: 1rem !important;
         }
      }
      .__nav-toggle-icon {
         background-image: none !important;
      }
      .__collapse {
         .__navbar {
            .__nav-links {
               font: 600 1rem $font;
               color: $primary-8;
               margin: 0 .5rem;
               transition: $transition2;

               &:hover {
                  color: $primary-5a !important;
               }
               &.active {
                  color: $primary-5;
                  border-bottom: 1px solid $primary-5;
               }
            }
            .download_btn {
               a {
                  font: 600 .95rem $font;
                  color: $white;
                  background: $primary-5;
                  border-radius: 25px;
                  padding: 1rem 1.5rem;
                  transition: $transition2;

                  &:hover {
                     background: $primary-5a;
                  }
               }
            }
         }
      }
      @media screen and (max-width: 1199px) {
         .__collapse-screen {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: .6rem;
            border-radius: 8px;
            background: #bbb;
            // height: 60vh !important;
            height: 100% !important;

            .__navbar {
               height: 100%;
               margin-left: 0 !important;

               .nav-item {
                  padding: 1rem 0;
               }
            }
         }
      }
   }
}