@import '../../variables';

/*
=============== 
Hero
===============
*/

.__projects {
   height: 30%;
   background: $primary-1;
   color: $white;

   .__container {
      .inner {
         .title {
            color: $white;
         }
      }
   }
}