@import '../../variables';

/*
=============== 
Hero
===============
*/

.__projects {
   color: $white;
   width: 100%;
   background: $primary-1 !important;
   overflow: hidden;
   height: 100%;
   
   .bg-img {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      
      img {
         object-fit: cover;
      }
   }

   .__container {
      .inner {
         .title {
            color: $white;
         }
         .projects-section {
            .content {
               margin-bottom: 6rem !important;

               .project-img {
                  height: 21.5rem;
                  border-radius: 5px;
                  overflow: hidden;
                  background: rgba(255, 255, 255, .5);
                  // box-shadow: 0 10px 30px -15px $primary-2;
                  box-shadow: $box-shadow2;

                  .img-layer {
                     top: 0;
                     left: 0;
                     width: 100%;
                     height: 100%;
                     background: rgba(255, 255, 255, .3);
                     transition: $transition2;
                  }

                  &:hover .img-layer {
                     background: rgba(255, 255, 255, 0);
                  }
               }
               .project-info {
                  z-index: 20;
                  .featured-project {
                     font-size: .85rem;
                     opacity: .8;
                  }
                  h4 {
                     a {
                        font: 700 1.5rem $font;
                        color: $white;
                        opacity: .9;
                        transition: $transition2;

                        &:hover {
                           color: $primary-5;
                        }
                     }
                  }
                  .project-desc {
                     font: 600 1rem $font;
                     color: $primary-5;
                     border-radius: 5px;
                     overflow: hidden;
                     background: #ccc;
                     box-shadow: 0 10px 30px -15px $primary-2;
                  }
                  .project-stack {
                     span {
                        font: 400 .85rem $font;
                        opacity: .8;
                     }
                  }
                  .project-links {
                     a {
                        color: $white;
                        opacity: .8;
                        transition: $transition2;
                        
                        .project-icon {
                           transform: scale(1.3);
                           transition: $transition2;
                        }
                        &:hover {
                           opacity: 1;
                           .project-icon {
                              transform: scale(1.5);
                           }
                           
                        }
                     }
                  }
               }
               &:nth-child(odd) {
                  text-align: right;
               }
               &:nth-child(even) {
                  text-align: left;
               }
            }

            @media screen and (max-width: 767px) {
               .content {
                  position: relative;
                  margin-bottom: 5rem !important;

                  .project-img {
                     border-radius: 8px;
                     overflow: hidden;
                     .img-layer {
                        background: none;
                     }
                  }
                  
                  .project-info {
                     text-align: left;
                     padding-left: 1rem;
                     padding-right: 1rem;
                     color: #fff;
                     position: absolute;
                     top: 0;
                     right: 0;
                     bottom: 0;
                     left: 0;
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                     background: rgba(0, 0, 0, .65);

                     .featured-project {
                        padding-left: 1rem;
                        opacity: 1;
                     }

                     h4 {
                        padding-left: 1rem;
                        a {
                           color: inherit;
                        }
                     }

                     .project-desc {
                        background: none;
                        box-shadow: none;
                        color: #fff;
                     }
                     .project-stack {
                        span {
                           opacity: 1;
                        }
                     }
                  }
               }
            }
         }

         .other-projects {
            // height: 52.6875rem;
            height: 100%;
            .contents {
               .inner {
                  height: 20rem;
                  background: #bbb;
                  border-radius: 5px;
                  overflow: hidden;

                  .img {
                     height: 100%;
                     width: 100%;
                     
                     img {
                        width: 130%;
                        height: 130%;
                        object-fit: cover;
                        transition: .7s;
                     }

                     span {
                        font: 700 1.8rem $font;
                        color: $primary-5;
                        transition: $transition2;
                     }
                  }
                  &:hover .img {
                     img {
                        width: 100%;
                        height: 100%;
                     }
                  }
                  &:hover .img span {
                     filter: blur(5px);
                  }
                  .description {
                     color: $white;
                     bottom: 0;
                     top: 74%;
                     background: rgba(0, 0, 0, 0.5);
                     transition: all .7s ease-in-out;

                     h5 {
                        font: 700 1.1rem $font;
                     }
                     p {
                        font: 600 .9rem $font;
                        opacity: .8;
                     }
                     .project-stack {
                        font: 300 .85rem $font;
                        color: $white;
                        opacity: .8;
                     }
                     .icons {
                        a {
                           color: $white;
                           opacity: .9;
                           transition: $transition2;
                           
                           .project-icon {
                              transform: scale(1.5);
                              transition: $transition2;

                              &:hover {
                                 transform: scale(1.8);
                              }
                           }
                        }
                     }
                  }
                  &:hover .description {
                     top: 0;
                     right: 0;
                  }
               }
            }
         }
      }
   }
}